In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv('E:/ML Telangana Project/IMD Rainfall 0.25x0.25/CSV Files/rain_Point_1.csv', index_col = 0, parse_dates= True)
dataset = dataset.asfreq('D')

In [3]:
dataset.head()

            LONGITUDE  LATITUDE  RAINFALL
TIME
1951-01-01      81.75      16.5       0.0
1951-01-02      81.75      16.5       0.0
1951-01-03      81.75      16.5       0.0
1951-01-04      81.75      16.5       0.0
1951-01-05      81.75      16.5       0.0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 25568 entries, 1951-01-01 to 2020-12-31
Freq: D
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LONGITUDE  25568 non-null  float64
 1   LATITUDE   25568 non-null  float64
 2   RAINFALL   25565 non-null  float64
dtypes: float64(3)
memory usage: 799.0 KB

In [5]:
dataset['RAINFALL'].fillna(method='ffill', inplace= True)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 25568 entries, 1951-01-01 to 2020-12-31
Freq: D
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LONGITUDE  25568 non-null  float64
 1   LATITUDE   25568 non-null  float64
 2   RAINFALL   25568 non-null  float64
dtypes: float64(3)
memory usage: 799.0 KB

In [7]:
dataset['RAINFALL LAG1'] = dataset['RAINFALL'].shift(1)
dataset['RAINFALL LAG2'] = dataset['RAINFALL'].shift(2)

In [9]:
dataset.dropna(inplace= True)

In [11]:
dataset.head()

            LONGITUDE  LATITUDE  RAINFALL  RAINFALL LAG1  RAINFALL LAG2
TIME
1951-01-03      81.75      16.5       0.0            0.0            0.0
1951-01-04      81.75      16.5       0.0            0.0            0.0
1951-01-05      81.75      16.5       0.0            0.0            0.0
1951-01-06      81.75      16.5       0.0            0.0            0.0
1951-01-07      81.75      16.5       0.0            0.0            0.0

In [12]:
X_train = dataset[dataset.index < '2015-01-01'].iloc[:, -2:]
X_test = dataset[dataset.index > '2015-01-01'].iloc[:, -2:]
y_train = dataset[dataset.index < '2015-01-01'].iloc[:, -3]
y_test = dataset[dataset.index > '2015-01-01'].iloc[:, -3]

In [17]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor

In [18]:
dtr = DecisionTreeRegressor()
ada = AdaBoostRegressor()

In [19]:
dtr.fit(X_train, y_train)
dtr_predictions = dtr.predict(X_test)

In [20]:
ada.fit(X_train, y_train)
ada_predictions = ada.predict(X_test)

In [21]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [22]:
rms_dtr = sqrt(mean_squared_error(y_test, dtr_predictions))
rms_ada = sqrt(mean_squared_error(y_test, ada_predictions))

In [27]:
rms_dtr

16.994831951681274

In [28]:
rms_ada

13.474566166293252

In [23]:
from sklearn.metrics import mean_absolute_error

In [24]:
mae_dtr = sqrt(mean_absolute_error(y_test, dtr_predictions))
mae_ada = sqrt(mean_absolute_error(y_test, ada_predictions))

In [29]:
mae_dtr

2.5627576088534774

In [30]:
mae_ada

2.690139960744589

In [26]:
from sklearn.metrics import r2_score

In [31]:
r2_dtr = r2_score(y_test, dtr_predictions)
r2_ada = r2_score(y_test, ada_predictions)

In [32]:
r2_dtr

-0.4580001711100441

In [33]:
r2_ada

0.0834558105216906