In [63]:
from netCDF4 import Dataset
import numpy as np
import netCDF4
import pandas as pd
import os
import xarray as xr

In [64]:
cltdata = netCDF4.MFDataset(['clt1.nc','clt2.nc','clt3.nc'])
hursdata = netCDF4.MFDataset(['hurs1.nc','hurs2.nc','hurs3.nc'])
hussdata = netCDF4.MFDataset(['huss1.nc','huss2.nc','huss3.nc'])
psldata = netCDF4.MFDataset(['psl1.nc','psl2.nc','psl3.nc'])
tasdata = netCDF4.MFDataset(['tas1.nc','tas2.nc','tas3.nc'])
zgfdata = netCDF4.MFDataset(['zgf1.nc','zgf2.nc','zgf3.nc'])
uasdata = netCDF4.MFDataset(['uas1.nc','uas2.nc','uas3.nc'])
vasdata = netCDF4.MFDataset(['vas1.nc','vas2.nc','vas3.nc'])

In [65]:
clt = cltdata.variables['clt']
hurs = hursdata.variables['hurs']
huss = hussdata.variables['huss']
tas = tasdata.variables['tas']
zgf = zgfdata.variables['zg500']
psl = psldata.variables['psl']
uas = uasdata.variables['uas']
vas = vasdata.variables['vas']

In [66]:
starting_date = '2000-01-01'
end_date = '2014-12-30'

In [67]:
date_range = pd.date_range(starting_date, end_date, freq= 'D')

In [68]:
df = pd.DataFrame(0, columns= ['HURS', 'HUSS', 'PSL', 'TAS', 'CLT', 'ZG500', 'VAS', 'UAS'], index= date_range)

In [70]:
dt = np.arange(0, len(cltdata.variables['time']))

In [71]:
hyd_lat_index = 193
hyd_long_index = 94

In [72]:
for time_index in dt:
    df['TAS'].iloc[time_index] = tas[time_index, hyd_lat_index, hyd_long_index]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [73]:
for time_index in dt:
    df['VAS'].iloc[time_index] = vas[time_index, hyd_lat_index, hyd_long_index]

In [74]:
for time_index in dt:
    df['UAS'].iloc[time_index] = uas[time_index, hyd_lat_index, hyd_long_index]

In [75]:
for time_index in dt:
    df['HURS'].iloc[time_index] = hurs[time_index, hyd_lat_index, hyd_long_index]

In [76]:
for time_index in dt:
    df['HUSS'].iloc[time_index] = huss[time_index, hyd_lat_index, hyd_long_index]

In [77]:
for time_index in dt:
    df['PSL'].iloc[time_index] = psl[time_index, hyd_lat_index, hyd_long_index]

In [78]:
for time_index in dt:
    df['CLT'].iloc[time_index] = clt[time_index, hyd_lat_index, hyd_long_index]

In [79]:
for time_index in dt:
    df['ZG500'].iloc[time_index] = zgf[time_index, hyd_lat_index, hyd_long_index]

In [86]:
df.describe()

,HURS,HUSS,PSL,TAS,CLT,ZG500,VAS,UAS
count,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000
mean,45.426156,0.009907,100793.076181,300.604637,44.334119,5865.758702,0.155483,1.243295
std,15.933904,0.003583,454.381428,3.996503,34.860919,23.994177,1.685690,3.138747
min,5.554688,0.001206,99682.125000,288.690674,0.000000,5770.402344,-5.361328,-8.467773
25%,33.478516,0.007178,100403.859375,297.408752,11.132812,5849.307617,-1.079346,-1.416260
50%,45.820312,0.009588,100763.843750,300.909180,38.247681,5867.724609,0.126953,0.234375
75%,56.679688,0.012816,101202.140625,303.673584,78.269958,5883.247070,1.417969,4.105713
max,93.242188,0.020012,101871.875000,310.173340,100.000000,5936.218750,5.421875,8.990234

In [84]:
df = df.reset_index()

In [85]:
df = df.iloc[:5400, :]

In [87]:
df.tail()

,index,HURS,HUSS,PSL,TAS,CLT,ZG500,VAS,UAS
5395,2014-10-09,23.328125,0.002923,101309.2500,293.210205,0.000000,5875.609375,-2.317383,-0.889648
5396,2014-10-10,30.968750,0.003512,101464.6875,291.715576,0.000000,5894.367188,-1.107422,-1.365234
5397,2014-10-11,20.445312,0.002586,101481.4375,292.588623,0.000000,5896.167969,-1.842773,-1.464844
5398,2014-10-12,19.539062,0.003006,101407.3125,295.136475,4.492188,5891.296875,-3.242188,-1.910156
5399,2014-10-13,56.242188,0.007202,101363.1875,291.943848,43.554688,5878.332031,-0.151367,-1.921875

In [88]:
df.to_csv('Hyderabad_updated.csv', index = False)

In [90]:
hyd = pd.read_csv('Hyderabad_updated.csv')

In [91]:
hyd.describe()

,HURS,HUSS,PSL,TAS,CLT,ZG500,VAS,UAS
count,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000
mean,45.426156,0.009907,100793.076181,300.604637,44.334119,5865.758702,0.155483,1.243295
std,15.933904,0.003583,454.381428,3.996503,34.860919,23.994177,1.685690,3.138747
min,5.554688,0.001206,99682.125000,288.690674,0.000000,5770.402344,-5.361328,-8.467773
25%,33.478516,0.007178,100403.859375,297.408752,11.132812,5849.307617,-1.079346,-1.416260
50%,45.820312,0.009588,100763.843750,300.909180,38.247681,5867.724609,0.126953,0.234375
75%,56.679688,0.012816,101202.140625,303.673584,78.269958,5883.247070,1.417969,4.105713
max,93.242188,0.020012,101871.875000,310.173340,100.000000,5936.218750,5.421875,8.990234

In [110]:
cltdataxr = xr.open_mfdataset(['clt1.nc','clt2.nc','clt3.nc']).interp(lon= 78.4867, lat= 17.3850)
hursdataxr = xr.open_mfdataset(['hurs1.nc','hurs2.nc','hurs3.nc']).interp(lon= 78.4867, lat= 17.3850)
hussdataxr = xr.open_mfdataset(['huss1.nc','huss2.nc','huss3.nc']).interp(lon= 78.4867, lat= 17.3850)
psldataxr = xr.open_mfdataset(['psl1.nc','psl2.nc','psl3.nc']).interp(lon= 78.4867, lat= 17.3850)
tasdataxr = xr.open_mfdataset(['tas1.nc','tas2.nc','tas3.nc']).interp(lon= 78.4867, lat= 17.3850)
zgfdataxr = xr.open_mfdataset(['zgf1.nc','zgf2.nc','zgf3.nc']).interp(lon= 78.4867, lat= 17.3850)
uasdataxr = xr.open_mfdataset(['uas1.nc','uas2.nc','uas3.nc']).interp(lon= 78.4867, lat= 17.3850)
vasdataxr = xr.open_mfdataset(['vas1.nc','vas2.nc','vas3.nc']).interp(lon= 78.4867, lat= 17.3850)

In [111]:
df_interp = pd.DataFrame(0, columns= ['HURS', 'HUSS', 'PSL', 'TAS', 'CLT', 'ZG500', 'UAS', 'VAS'], index= np.arange(0, 5400))

In [112]:
df_interp['CLT'] = cltdataxr['clt']
df_interp['HURS'] = hursdataxr['hurs']
df_interp['HUSS'] = hussdataxr['huss']
df_interp['PSL'] = psldataxr['psl']
df_interp['TAS'] = tasdataxr['tas']
df_interp['ZG500'] = zgfdataxr['zg500']
df_interp['UAS'] = uasdataxr['uas']
df_interp['VAS'] = vasdataxr['vas']

In [113]:
df.keys()

Index(['index', 'HURS', 'HUSS', 'PSL', 'TAS', 'CLT', 'ZG500', 'VAS', 'UAS'], dtype='object')

In [57]:
df_interp['index'] = df['index']

In [115]:
df_interp

,HURS,HUSS,PSL,TAS,CLT,ZG500,UAS,VAS
0,63.579527,0.011165,101260.479322,296.211249,20.628827,5839.655462,0.687917,1.153987
1,61.311998,0.010575,101350.246784,296.286254,40.978426,5846.076917,-0.592161,1.253277
2,65.155238,0.011362,101356.323834,296.169489,26.300692,5844.275243,-0.134711,0.403782
3,60.395182,0.010248,101369.121129,296.103358,32.084558,5839.674516,-0.806520,0.546426
4,57.806924,0.009751,101347.279815,296.169700,9.832121,5832.486021,-1.184875,0.505834
...,...,...,...,...,...,...,...,...
5395,23.750633,0.002970,101302.141374,293.075671,0.000000,5876.260356,-0.740769,-2.256636
5396,29.214790,0.003367,101459.139559,291.872798,0.000000,5894.380386,-1.123851,-1.162281
5397,21.896593,0.002699,101478.937492,292.395750,0.123074,5896.287601,-1.175277,-1.708547
5398,20.353844,0.003016,101402.436448,294.935767,6.281740,5891.267174,-1.723271,-3.234052
5399,52.437061,0.006718,101358.414812,292.187586,45.451645,5878.488314,-1.739080,-0.559472

In [116]:
df_interp.to_csv('Hyderabad_interp_updated.csv', index = False)

In [117]:
hydi = pd.read_csv('Hyderabad_interp_updated.csv')

In [118]:
hydi.tail(100)

,HURS,HUSS,PSL,TAS,CLT,ZG500,UAS,VAS
5300,34.447153,0.009357,100607.657492,303.435634,76.500042,5873.172451,3.490107,-2.400165
5301,32.863943,0.008562,100525.442841,302.937835,81.503189,5855.963461,4.194884,-2.053000
5302,36.208815,0.008655,100564.079826,301.549788,72.918838,5854.047762,3.114209,-1.401020
5303,43.051594,0.010465,100648.558869,301.916233,62.647156,5863.856284,0.909411,-1.792184
5304,43.163411,0.010711,100759.216611,302.297463,86.157087,5877.063288,1.605575,-1.109217
...,...,...,...,...,...,...,...,...
5395,23.750633,0.002970,101302.141374,293.075671,0.000000,5876.260356,-0.740769,-2.256636
5396,29.214790,0.003367,101459.139559,291.872798,0.000000,5894.380386,-1.123851,-1.162281
5397,21.896593,0.002699,101478.937492,292.395750,0.123074,5896.287601,-1.175277,-1.708547
5398,20.353844,0.003016,101402.436448,294.935767,6.281740,5891.267174,-1.723271,-3.234052
5399,52.437061,0.006718,101358.414812,292.187586,45.451645,5878.488314,-1.739080,-0.559472